* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.all {
  height: 80px;
  /* width:1000px; */
  display: flex;
  justify-content: start;
  justify-content: space-evenly;
  background-color: lightgray;
  padding: 20px;
  /* margin:20px; */
}
.all .links ul {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
.blinks {
  font-size: larger;
  font-family: calibri;
}
.mains {
  height: 420px;
  background-image: url("flower.jpeg");
  background-size: cover;
  justify-content: center;
}
.mains .bg {
  display: flex;
  justify-content: center;
}
.mains .bg h1 {
  text-align: center;
  color: bisque;
  padding: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 70px;
}
.mains .bg p {
  text-align: center;
  font-family: calibri;
  font-size: large;
  padding: 10px;
  color: mintcream;
  font-size: 20px;
}
.mains .bg .a {
  padding: 20px;
  margin: 20px;
}
#one #two #three #four {
  height: 25px;
  width: 100px;
}
#five {
  height: 50px;
}
section {
  background-color: antiquewhite;
  height: 420px;
}
section h2 {
  text-align: center;
  padding: 30px;
  font-size: 30px;
}
section .num {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 50px;
}
section .num h4 {
  font-size: 32px;
  padding: 10px;
  opacity: 0.8;
}
section .num p {
  font-size: large;
  text-align: center;
  padding: 20px;
}
section .img {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;

  padding: 20px;
}
section .img .pic1 {
  width: 350px;
  height: 350px;
  margin: 0px 10px;
  border: 1.5px solid white;
  border-radius: 10px;
  padding: 8px;
  opacity: 0.8;
}
section .img .pic2 {
  width: 350px;
  height: 350px;
  margin: 0 10px;
  border: 1.5px solid white;
  border-radius: 10px;
  padding: 8px;
  opacity: 0.8;
}
section .img .pic3 {
  width: 350px;
  height: 350px;
  margin: 0 10px;
  border: 1.5px solid white;
  border-radius: 10px;
  padding: 8px;
  opacity: 0.8;
}
footer .end {
  display: flex;
}
footer .end p {
  font-size: medium;
  text-align: center;
  padding: 20px;
  color: wheat;
}
footer .end h6 {
  font-size: 25px;
  text-align: center;
  padding: 20px;
  color: wheat;
  display: inline-block;
}
#b {
  padding: 0;
  margin: 5px;
  font-size: medium;
  color: gainsboro;
}
#bottom {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-evenly;
}
#foot {
  color: black;
  height: 30px;
}
button {
  /* display: flex;
  flex-wrap: wrap; */
  color: black;
  height: 20px;
}
footer .end div {
  padding: 20px;
  padding-bottom: 5px;
}
#adds {
  width: 100px;
  height: 30px;
  padding: 10px;
  margin: 5px 0 0 5px;
  text-align: center;
}
footer .end h1 i {
  color: white;
}
